.root {
    /*-fx-background-image: url("http://www.photos-public-domain.com/wp-content/uploads/2013/11/bumpy-aqua-plastic-texture.jpg");*/
    -fx-background-image: url("/img/layout.jpg");
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.2) , 0,0,0,1 );
}

#date {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: grey;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.2) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-background-color: #37c5cb;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.combo-box {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-background-color: #37c5cb;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.2) , 5, 0.0 , 0 , 1 );
    -fx-font-color: white;
}

.combo-box:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
